<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Viaje</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <header>
        <nav>
            <a id="back" class="btn" href="/">Inicio</a>
        </nav>
    </header>

    <main>
        <section>
            <header>
                <h1 th:text="'Viaje: '+ ${reserva.codigoViaje}"></h1>
                <h1 th:text="'Detalles de Reserva '+ ${reserva.codigo}"></h1>
            </header>
                <article>
                    <div id="cuerpo">
                        <div class="registro">
                            <label for="usuario">Usuario: </label>
                            <input type="text" id="usuario" th:value="${reserva.usuario}" readonly>
                        </div>
                        <div class="registro">
                            <label for="plazas">Plazas Solicitadas: </label>
                            <input type="number" id="plazas" th:value="${reserva.plazas}" readonly>
                        </div>
                    </div>
                </article>
                <article>
                    <form action="/viaje" method="get">
                        <input type="hidden" name="codigo" th:value="${reserva.codigoViaje}">
                        <button type="submit" class="btn">Atras</button>
                    </form>


                </article>



        </section>


    </main>

    <div th:if="${error}" class="alertaError" id="formError">
        <input type="button" value="X" id="btnError">
        <p th:text="${error}"></p>
    </div> 
    <script>
        document.getElementById("btnError").addEventListener("click", function() {
            document.getElementById("formError").classList.add("oculto");
        });
    </script>
</body>

</html>